#wrapper {
	width: 1024px;
	margin: 0 auto;
}

#loginArea { width: 1024px; text-align: right; margin: 20px 0 10px 0l }
#insertP { width: 0px auto; text-align: right; }

nav {	 margin: 15px 0;}
nav ul li { font-size: 1.2em; font-weight: bold;  text-align: center;}
table { width: 1024px; border-collapse: collapse; }
table tr th, table tr td { text-align: center; height: 40px; line-height: 40px;}
h1 { margin: 20px 0 20px 0; font-weight: bold; text-align: center; background-color: rgb(141, 212, 245);}
h3 { margin: 30px 0 15px 0; font-weight: bold; text-align: center; background-color: rgb(141, 212, 245);}
footer p{ text-align: center; }

table, tr, th, td {
    border: 1px solid rgb(179, 244, 247);
}

tr:nth-child(even), ul li:nth-child(even) {
    background-color: rgb(179, 244, 247);
}

ul, li { list-style-type: none; }

form, p {
    line-height: 30px;
    text-align: center;
}
label { text-align: left; }
