<?xml version="1.0" encoding="UTF-8"?>
<Configuration status="INFO">
    <Appenders>
        <Console name="Console" target="SYSTEM_OUT">
            <PatternLayout>
                <Pattern>%d{yyyy-MM-dd HH:mm:ss} [%t] %-5p %c{1} - %msg%n</Pattern>
            </PatternLayout>
        </Console>

        <File name="SQLLogger" fileName="logs/sql.log">
            <PatternLayout>
                <Pattern>%d{yyyy-MM-dd HH:mm:ss} [%t] %-5p %c{1} - %msg%n</Pattern>
            </PatternLayout>
        </File>
    </Appenders>

    <Loggers>
        <Logger name="jdbc.sqlonly" level="DEBUG" additivity="false">
            <AppenderRef ref="Console"/>
        </Logger>

        <Logger name="jdbc.sqltiming" level="DEBUG" additivity="false">
            <AppenderRef ref="Console"/>
        </Logger>

        <Logger name="jdbc.audit" level="DEBUG" additivity="false">
            <AppenderRef ref="Console"/>
        </Logger>

        <Logger name="jdbc.connection" level="INFO" additivity="false">
            <AppenderRef ref="Console"/>
        </Logger>

        <Root level="INFO">
            <AppenderRef ref="Console"/>
        </Root>
    </Loggers>
</Configuration>
